# macOS
.DS_Store

# Xcode / Playgrounds
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Playgrounds
*.playground/xcuserdata/
*.playground/timeline.xctimeline
*.playground/playground.xcworkspace/

# Build
.build/